.main-header .profile-image {
  max-width: 5rem;
}

.no-sidebar .main-header .profile-image {
  flex-basis: 5rem;
}

.main-header a {
  color: var(--sidebar-color);
}

.no-sidebar .main-header {
  padding: var(--s-3);
  flex-basis: 999rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.no-sidebar .main-header .profile-about {
  display: none;
}

.no-sidebar .main-header .profile-image {
  max-width: 2.5rem;
}

.flex-wrap-sidebar > * {
  min-width: max-content;
  width: calc((var(--sidebar-min-width) - 99%) * 1000);
  max-width: 100%;
}

.no-sidebar .main-header nav {
  flex-grow: 9999;
  margin: var(--s-2) 0;
  padding-right: var(--s0);
}
.no-sidebar .main-header nav ul {
  margin: 0;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.no-sidebar .main-header nav ul > * + * {
  margin: 0 0 0 var(--s0);
}

.no-sidebar .header-profile {
  flex: 1;
  justify-content: center;
  flex-basis: var(--s4);
}
