.main-layout {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.main-layout.no-sidebar {
  height: initial;
}

.main-layout > * {
  flex-grow: 1;
}

.main-layout > header {
  color: var(--background-color);
  background-color: var(--base-color);
  padding: var(--s-1);
  flex-basis: 15rem;
}

.main-layout > main {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(66% - var(--s1));
  padding: 0 calc(var(--s1));
  height: 100vh - calc(var(--s1) / 2);
}

.main-layout > main > * {
  max-width: var(--measure);
}

.center-container {
  display: block;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--stack-gap);
}

.stack > * + .stack-small-gap,
.stack.stack-small-gap {
  --stack-gap: 0.5rem;
}

.stack > * + .stack-no-gap,
.stack.stack-no-gap {
  --stack-gap: 0;
}

.width\:100\% {
  min-width: 100%;
}