.main-layout {
  overflow: hidden;
  height: 100%;
}

.main-layout > * {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.main-layout > * > * {
  flex-grow: 1;
}

.main-layout > * > header {
  color: var(--background-color);
  background-color: var(--base-color);
  padding: var(--s-1);
  flex-basis: 15rem;
}

.main-layout > * > main {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(66% - var(--s1));
  padding: 0 calc(var(--s1));
  height: 100vh - calc(var(--s1) / 2);
}

.main-layout > * > main > * {
  max-width: var(--measure);
}

.center-container {
  display: block;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
}

.stack {
  --space: 1rem;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

.stack > * + .stack-small-gap,
.stack.stack-small-gap {
  --space: 0.5rem;
}

.stack > * + .stack-no-gap,
.stack.stack-no-gap {
  --space: 0;
}

.mobile-25-desktop-100 {
  min-width: 25%;
  width: calc((var(--sidebar-min-width) - 100%) * 1000);
  max-width: 100%;
}

.mobile-75-desktop-100 {
  min-width: 75%;
  width: calc((var(--sidebar-min-width) - 100%) * 1000);
  max-width: 100%;
}

.no-sidebar .no-sidebar-flex\:1 {
  flex: 1;
}
